*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: #0a0c1b;
}
.main{
    font-family: 'Roboto', sans-serif; 
    display: flex;   
    flex-direction: column;
    width: 90%;
    max-width: 25rem;
    margin: 5rem auto;
}
.content{
    color: white;
    background-color: #1c1938;
    border-radius:0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content h1 {
   font-size: 2.5rem;
   font-weight:700;
   margin:1.5rem;
}
.color{
     color: rgb(171, 92, 220);
}
.content > p{
    line-height: 1.5;
    word-spacing: 0.4rem;
    margin: 1.5rem;
}
.points-list{
    margin: 1.5rem;
}
.point{
     padding:0.5rem 0 ;
}
.headings{
    font-size: 1.8rem;
    font-weight: 700;
}

.image{
    background: linear-gradient(to top, rgba(94, 45, 124, 0.4) 10%, rgba(94, 45, 124, 0.4)),
url(images/image-header-mobile.jpg) left 10% bottom 75% / cover no-repeat border-box;
    width: 100%;
    min-height: 15rem;
    max-height: 20rem;
    order: -1;
    border-radius:10px 10px 0 0;
}
@media (min-width:50rem) {
    *{
        text-align: left;
    }
    body{
        display: flex;
        justify-content: center;
    }
    .main{    
        flex-direction: row;
        width: 80%;
        max-width: 100%;
        margin:0;
        height: 60vh;
        position: fixed;
        top: 20%;
    }
    .content{
        border-radius:10px 0 0 10px;
        width: 50%;
    }
    .content > p{
        width: 80%;
        margin:0;
    }
    .content h1 {
        width: 80%;
        margin:1.5rem;
     }
    .points-list{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin:0;
    }
    .image{
        background: linear-gradient(to top, rgba(94, 45, 124, 0.4) 10%, rgba(94, 45, 124, 0.4)),
        url(images/image-header-desktop.jpg) left 10% bottom 75% / cover no-repeat border-box;
        width: 50%;
        height: 100%;
        min-height:auto;
        max-height:100%;
        order: 0;
        border-radius: 0 10px 10px  0;
    }
}